{% include 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/formulaire.css" type="text/css">
	<link rel="stylesheet" href="/css/ecriture.css">
{% endblock %}

{% block body %}
	<body>
		<div class="bground pt-5">
			<h1 class="display-3 text-center">Paramètres de la partie</h1>
			<div class="container">
				<form method="POST">
					<div class="form-group">
						<label for="name" class="form-label mt-4">Nom du joueur</label>
						<input type="name" class="form-control" id="name" placeholder="Name">
						<label for="nbjoueur" class="form-label mt-4">Nombre de joueur</label>
						<select class="form-select" id="nbjoueur">
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
						</select>
					</div>
					<button type="submit" href="{{ path('formulaire')}}" class="btn btn-primary mt-3" onclick="window.location='{{ path('formulaire')}}'">Commencer la partie</button>
				</form>
			</div>
		</div>
	</body>
</div>{% endblock %}
