{% include 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/home.css" type="text/css">
	<link rel="stylesheet" href="/css/ecriture.css">

{% endblock %}

{% block body %}
	<body>
		<div class="acceuil pt-5">
			<h1 class="display-3 text-center">Loups-Garous de Thiercelieux</h1>
			<div class="container">
				<div class="divButton" align="center">
					<button type="button" href="{{ path('formulaire')}}" class="btn btn-primary jouer" onclick="window.location='{{ path('formulaire') }}'">Jouer</button>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
