body{
    background: no-repeat fixed url("../image/lg.jpeg");
    color: white;
}

button {
    margin-top: 10%;
    margin-left: 30%;
    width: 500px;
    height: 60px;
    background-color: white;
  }